<div class="my-submissions">
<div class="content">
  <br />
<div class="col-sm-12">
  <h1 style="margin: 25px auto; font-weight:300; color:#777;">My Solution Files</h1>
  <table class="table table-hover" id="item-table">
    <tr>
      <td><h4 style="color:#000; text-decoration: underline">Pass/Fail</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Challenge Name</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Date Submitted</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Download</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Resubmit</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Delete</h4></td>
    </tr>
    <tbody>
  <tr>
      <td id="grade" style="padding-top: 2%">
        <span style="color:green" class="glyphicon glyphicon-thumbs-up"></span>
      </td>
      <td><h4>Fibonacci</h4></td>
      <td><h4>08/04/2016</h4></td>
      <td id="download" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-download-alt"></span>
      </td>
      <td id="resubmit" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-share"></span>
      </td>
      <td id="delete" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-trash"></span>
      </td>
  </tr>
  <tr>
      <td id="grade" style="padding-top: 2%">
        <span style="color:green" class="glyphicon glyphicon-thumbs-up"></span>
      </td>
      <td><h4>Boggle Board</h4></td>
      <td><h4>08/01/2016</h4></td>
      <td id="download" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-download-alt"></span>
      </td>
      <td id="resubmit" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-share"></span>
      </td>
      <td id="delete" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-trash"></span>
      </td>
  </tr>
  <tr>
      <td id="grade" style="padding-top: 2%">
        <span style="color:red" class="glyphicon glyphicon-thumbs-down"></span>
      </td>
      <td><h4>MBTA Routes</h4></td>
      <td><h4>08/09/2016</h4></td>
      <td id="download" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-download-alt"></span>
      </td>
      <td id="resubmit" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-share"></span>
      </td>
      <td id="delete" style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-trash"></span>
      </td>
  </tr>
</tbody>
  </table>
</div>
</div>
</div>
