$main-background-color: $white;
$secondary-background: $light-green;
$font-color: $blue;

body {
  background-color: $white;
  color: $font-color;
}

#content {
  margin: 5%;
}

.logo {
  margin-top: -15px;
}

.upload-container {
  max-width: 45%;
  margin: 10px auto 30px auto;
}

.dropdown {
  margin: 20px auto;
  text-align: center;
}

.well {
  text-align: center;
}

.options {
  max-width: 95%;
  text-align: center;
  margin: 50px auto;
}

#event-listing {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 25px auto;
  padding: 15px 10%;
  text-align: center;
  height: 750px;
  width: 85%;
}

.tools {
  clear: both;
}

.functions {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 20%;
}

canvas {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 20px auto;
  text-align: center;
}

.content {
  clear: both;
  margin: 20px auto;
  max-width: 85%;
  text-align: center;
}

.jumbotron {
  background-color: #FFF;
  margin-top: 40px;
  max-width: 75%;
}

label {
  font-weight: 300;
  color: #000;
  font-size: 18px;
}

#account {
  right: 10px;
  position: absolute;
  top: 30px;
}

h2 {
  color: $secondary-background;
}

.clicked {
  color: $dark-green;
  font-weight: 900;
}

.btn-default:hover {
  color: #blue;
}

.navbar-btn:hover {
  color: $blue;
}

.nav {
  @include make-row();
  margin-left: 75%;

  .nav-button {
    @include make-lg-column(3);
    @include make-md-column(3);
    @include make-sm-column(3);
    @include make-xs-column(3);
  }
}

@media (max-width: 800px) {
  .logo img {
    margin: 40px auto 0;
    max-width: 100px;
    text-align: center;
  }
}
